@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Make all input, select, and textarea text black */
input,
select,
textarea {
  color: #0f172a !important;
  /* slate-900 */
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8;
  /* slate-400 for placeholders */
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}